<main>
    <h1>Cat Shelter</h1>
    <form action="">
        <input type="text" name="name" placeholder="Search by name...">
        <input type="text" name="breed" placeholder="Search by breed...">
        <input type="submit" value="search">
    </form>

    {{#if error}}
    <span class="error">{{error._message}}</span>
    {{/if}}

    <section class="cats">
        <ul>
            {{#each cats}}
            <li>
                <img src="{{this.imageUrl}}" alt="{{this.name}}">
                <h3>{{this.name}}</h3>
                <p><span>Breed: </span>{{this.breed}}</p>
                <p><span>Description: </span>{{this.description}}</p>
                <ul class="buttons">
                    <li class="btn edit"><a href="/editCat/{{this._id}}">Change Info</a></li>
                    <li class="btn delete"><a href="/catShelter/{{this._id}}">New Home</a></li>
                </ul>
            </li>
            {{/each}}
        </ul>
    </section>
</main>