<main>
    <h1>Cat Shelter</h1>
    <form action="/search">
        <input type="text">
        <button type="button">Search</button>
    </form>
    <section class="cats">
        <ul>
            {{#each cat}}
            <li>
                <img src="{{this.imagePath}}" alt="{{this.name}}">
                <h3>{{this.name}}</h3>
                <p><span>Breed: </span>{{this.breed}}</p>
                <p><span>Description: </span>{{this.description}}</p>
                <ul class="buttons">
                    <li class="btn edit"><a href="/editCat/{{this.id}}">Change Info</a></li>
                    <li class="btn delete"><a href="/catShelter/{{this.id}}">New Home</a></li>
                </ul>
            </li>
            {{/each}}
        </ul>
    </section>
</main>